.wykresy{
    display: flex;
    flex-direction: column;

}
.chart {
    width: 48%;
    height: 40vh;
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px;
    box-sizing: border-box;
}
.container {
    position: fixed;
    top: 200px;
    left: 75%;
    transform: translateX(-50%);
    width: 30%;
    border: 2px solid #ddd;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container2 {
    position: fixed;
    top: 550px;
    left: 75%;
    transform: translateX(-50%);
    width: 30%;
    border: 2px solid #ddd;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.date-container {
    text-align: center;
    margin-top: 2px;
    justify-content: center;

}

.date-container label {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    font-weight: bold;
    color: #333;

}

.date-container input {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-bottom: 8px;
}
.btnsubmit{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 0.5em;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}
input {
    text-align: center;
}