.bg-custom-color {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
}
.nav-link {
    margin-right: 50px;
    font-size: 16px;
}
body{
    background-color: #CCCCCC;
}
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #FFFF00;
    text-decoration: none;
}