<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odczyty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (checksum)" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/css-admin/main-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/css-admin/admin.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">
            </i> Energy-admin <i class="fas fa-bolt"></i>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div id="icon-panel-1">
    <a class="nav-link active" aria-current="page" href="/newcustomer">
        <i class="fas fa-user-plus"></i>
    </a>
    <a class="nav-link active" aria-current="page" href="/listofcustomers">
        <i class="fas fa-table"></i>
    </a>
</div>
<div id="icon-panel-2">
    <a class="nav-link active" aria-current="page" href="/odczyty">
        <i class="fas fa-chart-line"></i>
    </a>
    <a class="nav-link active" aria-current="page" href="/faktury">
        <i class="fas fa-money-bill-wave"></i>
    </a>
</div>
</body>
<footer>
    <p>&copy; 2024 Energy <a href="/regulamin">Regulamin</a> <a href="/kontakt">Kontakt</a></p>
</footer>
</html>
