<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faktury</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (checksum)" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/css-admin/main-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/css-admin/faktury.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var customerMap = /*[[${customerMap}]]*/{};
        /*]]>*/
    </script>
    <script th:src = "@{/js/js-admin/faktury.js}"> </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">
            </i> Energy-admin <i class="fas fa-bolt"></i>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/newcustomer">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/listofcustomers">
                        <i class="fas fa-table"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/odczyty">
                        <i class="fas fa-chart-line"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/faktury">
                        <i class="fas fa-money-bill-wave"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <form class="txtSearch">
        <div class="search-container">
            <div class = "test">
                <input id="txtSearch" type="text" name="keyword" class="form-control"
                       placeholder="Wpisz imię i nazwisko użytkownika">
                <button type="button" class="expand-btn" id="expandBtn">
                    <span class="expand-icon">&#9660;</span>
                </button>
            </div>
            <div class="suggestions" id="suggestions"></div>
        </div>
        <div class="date-container">
            <label for="startDate">Wystaw fakturę od:</label>
            <input type="date" id="startDate" name="startDate" required autofocus="autofocus">

            <label for="endDate">Wystaw fakturę do:</label>
            <input type="date" id="endDate" name="endDate" required autofocus="autofocus">
        </div>
        <div class="button-container">
                <input type="hidden" name="generatePdf" value="true"/>
                <button class="btnWystawFakture" id="wystawBtn" type="button">Wystaw fakturę</button>
        </div>
    </form>
</div>
<div class = "table">
<table class="custom-table"  id="invoiceTable">
    <thead>
    <tr>
        <th scope="col">Numer faktury</th>
        <th scope="col" style="width: 5%;">Kwota</th>
        <th scope="col">Data od</th>
        <th scope="col">Data do</th>
        <th scope="col">Data wystawienia</th>
        <th scope="col">Termin ostateczny płatności</th>
        <th scope="col">Status płatności</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="invoiceUser : ${invoicesDtoList}">
        <tr>
            <td th:text="${invoiceUser.invoiceNumber}"></td>
            <td th:text="${invoiceUser.ammount}"></td>
            <td th:text="${invoiceUser.billingPeriodFrom}"></td>
            <td th:text="${invoiceUser.billingPeriodUntil}"></td>
            <td th:text="${invoiceUser.issueDate}"></td>
            <td th:text="${invoiceUser.issueLastDatePayment}"></td>
            <td th:text="${invoiceUser.paymentStatus}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</div>
</body>
<footer>
    <p>&copy; 2024 Energy <a href="/regulamin">Regulamin</a> <a href="/kontakt">Kontakt</a></p>
</footer>
</html>
