<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Energy 2024</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-... (checksum)" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/css/css-all/main-user.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> Energy-company <i class="fas fa-bolt"></i> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" th:href="@{/registration}">Rejestracja</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Logowanie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container d-flex align-items-center justify-content-center" style="min-height: 70vh;">
    <div class="text-center">
        <h1>Uniwersalny system ds. obsługi energii elektrycznej - Projekt magisterski - Jakub Węgrzyn S26568</h1>
    </div>
</div>
</body>
<footer>
    <p>&copy; 2024 Energy <a href="/regulamin">Regulamin</a> <a href="/kontakt">Kontakt</a></p>
</footer>
</html>