<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Odczyty</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-... (checksum)" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/css/css-admin/main-admin.css}"/>
    <link rel="stylesheet" th:href="@{/css/css-admin/odczyty.css}"/>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var customerMap = /*[[${customerMap}]]*/{};
        /*]]>*/
    </script>
    <script th:src = "@{/js/js-admin/odczyty.js}"> </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-custom-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin">
            </i> Energy-admin <i class="fas fa-bolt"></i>
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/newcustomer">
                        <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/listofcustomers">
                        <i class="fas fa-table"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/odczyty">
                        <i class="fas fa-chart-line"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/faktury">
                        <i class="fas fa-money-bill-wave"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/logout">Wyloguj</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-6">
        <div id="loadingIndicator" style="display: none;">
            <i class="fas fa-spinner loading-spinner"></i> Ładowanie danych...
        </div>
        <table class="table" id="energyUsageTable">
            <thead>
            <tr>
                <th scope="col" style="width: 10%;">ID</th>
                <th scope="col" style="width: 30%;">Data i godzina</th>
                <th scope="col" style="width: 20%;">A+</th>
                <th scope="col" style="width: 20%;">A-</th>
                <th scope="col" style="width: 10%;"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="energyUsage : ${energyUsageList}">
                <tr>
                    <td th:text="${energyUsage.id}"></td>
                    <td th:text="${energyUsage.formattedDate}"></td>
                    <td th:text="${energyUsage.aPlus}"></td>
                    <td th:text="${energyUsage.aMinus}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
<div class="container2">
    <form class="txtSearch">
        <div class="search-container">
            <div class = "test">
                <input id="txtSearch" type="text" name="keyword" class="form-control"
                       placeholder="Wpisz imię i nazwisko użytkownika">
                <button class="expand-btn" type="button" id="expandBtn">
                    <span class="expand-icon">&#9660;</span>
                </button>
            </div>
            <div class="suggestions" id="suggestions"></div>
        </div>
        <button class="btnSearch" type="button" id="searchBtn">Szukaj</button>
    </form>
</div>
</body>
<footer>
    <p>&copy; 2024 Energy <a href="/regulamin">Regulamin</a> <a href="/kontakt">Kontakt</a></p>
</footer>
</html>
