.container-fluid-2 {
    padding: 20px;
}

.btn-primary, .btn-usun {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: dodgerblue;
    color: #000;
}
.btn-primary:hover {
    color: white;
    background-color: grey;
}

.btn-usun {
    margin-top: 5px;
    background-color: #ff6666;
    color: #000;
}
.btn-usun:hover {
    color: white;
    background-color: red;
}