.navbar {
    margin-bottom: 30px;
}
.loading-spinner {
    font-size: 24px;
    color: #007bff;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    display: block;
    justify-content: space-between;
    margin-bottom: 5vh;
    margin-left: 5vh;
    padding: 1vh;
}

.table {
    width: 150%;
    text-align: left;
}
/*.table th,*/
/*.table td {*/
/*    padding: 1vh;*/
/*}*/

.txtSearch {
    font-size: 2em;
    padding: 30px 15px;
    width: 100%;
}

.container2 {
    position: fixed;
    top: 250px;
    left: 75%;
    transform: translateX(-50%);
    width: 30%;
    border: 2px solid #ddd;
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btnSearch {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    font-size: 0.5em;
    cursor: pointer;
}
.suggestions {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: none;
    z-index: 1;
    width: 90%;
    margin-top: 5px;
    max-height: 250px;
    overflow-y: auto;
}

.suggestion {
    font-size: 0.6em;
    cursor: pointer;
    padding: 5px;
    margin: 2px;
    overflow-y: auto;
    transition: background-color 0.3s;
}

.suggestion:hover {
    background-color: #f0f0f0;
}

.no-suggestions {
    font-size: 0.6em;
}

.test {
    display: flex;
    align-items: center;
}
.expand-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 0.5em;
    cursor: pointer;
    margin-left: 5px;
}
.btn-primary{
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}